main {
    font-family: 'Merriweather', serif;
    max-width: 1320px;
    margin: 0 auto 0;
}

/* Header section styles */
.banner-section {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.512)), url(../images/Banner\ Image.png);
    background-position: center;
    margin: 50px auto 0;
    background-size: cover;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.banner-greeting {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding: 170px 530px 0;
}

.banner-title {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    padding: 15px 340px 170px;
}
/* 65% off section */
.off-section {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0;
}

.off-section-greeting {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0;
}

.off-section-title {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0;
}

.off-section-image {
    display: block;
    margin: 48px auto 0 auto;
    width: 50%;
}

/* welcome to midnight party section */
.welcome-section {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-items: center;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.742), rgba(0, 0, 0, 0.397)), url(../images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    margin: 50px auto 0;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.welcome-section-text {
    flex-grow: 1;
    padding: 70px 0px 70px 70px;
}

.welcome-section-image {
    width: 319.83px;
    height: 464.662px;
    padding: 0px 70px 0px 0px;
}

.welcome-section-title {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    width: 645px;
}

.welcome-section-greeting {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 700px;
}

.welcome-section-button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    color: #FFF;
    margin-left: 160px;
    margin-top: 45px;
}
/* Event section  */
.event-section {
    height: 482px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.event-title {
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

span {
    color: #F00;
}

.event-section-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
}
/* New best offer coming soon section */
.offer-section {
    display: flex;
    margin-top: 120px;
}

.best-offer-section {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.coming-soon-section {
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
}

.dolor-section {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 393px;
}

.offer-section-image {
    width: 364.844px;
    height: 364.844px;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 40px;
}

.offer-section-h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-section-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 276px;
}

.offer-section-logo {
    width: 140px;
    height: 140px;
}
/* Holiday sale section */
.holiday-section{
    text-align: center;
    margin-top: 120px;
}
.Holidays-section-title {
    margin: 0px 0px 64px 0px;
}
.Holidays-section-title h6{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    margin: 0;

}
.Holidays-section-title h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding: 0;
    margin: 16px 0px 28px 0px;


}
.Holidays-section-title p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    padding: 0;
    width: 1068px;
    margin: 0 auto;
}

.holiday-section-banner{
    position:relative;
    width: 100%;
    margin-top: 500px;
}

.gift-box{
    position: absolute;
    bottom: 0;
    left: 0;
}
.lady-with-badge{
    position:absolute;
    bottom: 0;
    right: -100px;
}
.badge-position{
    position:relative;
    bottom: 229px;
    right: 100px;
}
.lady {
    position: absolute;
    z-index: 0;
    left: -150px;
    top: 77px;
}

.gift-section{
    margin: 120px 0 0 0;
}
/* Our Awesome Portfolio */
.gift-section-h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

.gift-section-h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0px;
}

.gift-section-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
    margin-bottom: 48px;
}
/* Gallary section */
.gallery-image {
    width: 424px;
}

.gallery-section {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

/* subscribe section */
.subscribe-section {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
    margin-top: 120px;
    gap: 0;
}

.subscribe-section-image {
    width: 150px;
    height: 150px;
    padding-top: 80px;
}

.subscribe-section-title {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.subscribe-section-greeting {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
    padding-left: 210px;
    padding-right: 210px;
}
.subscribe-section-input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.subscribe-section-mail {
    width: 658px;
    height: 72px;
    border: 0;
    border-radius: 50px 0px 0px 50px;
}

.subscribe-section-submit {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.subscribe-section-mail,
placeholder {
    color: rgba(7, 2, 17, 0.30);
    margin-left: 30px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 400;
}

/* footer section */
footer {
    background: #070211;
    margin: 120px 0 0 0;
    padding-top: 120px;
}

.footer-section-contact {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-section-address {
    width: 50%;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
   
}
.address-section{
    padding-bottom: 0;
    margin: 0;
}

.footer-section-icons{
    width: 24px;
    height: 24px;
}
.footer-section-icons-text {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
}

.footer-section-icon{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin: 0;
    height: 40px;
}

footer hr {
    background: rgba(255, 255, 255, 0.15);
    width: 1320px;
}

.social-link {
    text-align: center;
    gap: 24px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.copyright-section {
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 50px 0 120px 140px;
}
.unsubscribe-section{
    padding-right: 140px;
}